body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}

header {
  height: 100%;
  display: flex;
  align-items: end;
}

footer {
  font-size: 12px;
  align-self: center;
  position: relative;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: end;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.left-section,
.right-section {
  height: 100vh;
  width: 50%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0d1f2d;
  margin-right: 24px;
}

.my-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.contacts-container {
  display: flex;
  gap: 16px;
}

.contacts-icons {
  font-size: 30px;
  color: #0d1f2d;
}

@media only screen and (max-width: 900px) {
  .section-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    height: 50%;
    width: 100%;
  }

  .right-section {
    width: calc(100% - 48px);
    margin-right: 24px;
    margin-left: 24px;
  }
}
